<pre><%= flash["flash now"] if flash["flash now"] %></pre>
<pre><%= flash["flash next"] if flash["flash next"] %></pre>
<h1>NEW account</h1>

<form action="/humans" method="POST">
  <input type="hidden" name="security" value="<%= form_authenticity_token %>">
  <label>Enter your name:
    <input type="text" name="human[name]">
  </label>
  <br>
  <input type="submit" value="CREATE account">
</form>
