<link href='https://fonts.googleapis.com/css?family=Alegreya:400,400italic|Abril+Fatface|Nixie+One' rel='stylesheet' type='text/css'>

<div class="navigation">
	<a href="/"><div class="logo">
		RESTful Cats
	</div></a>
		<ul>
			<a href="/cats"><li>Index</li></a>
			<a href='/go_live'><li>Launch an App</li></a>

	<% if current_user %>
		<li><form action="/session" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="hidden" name="security" value="<%= form_authenticity_token %>">
			<input type="submit" class="logout" value="Logout (DESTROY session)">
		</form></li>
	<% else %>
			<li><a href="/session/new"><button class="logout">Sign In (NEW session)</button></a></li>
			<li><a href="/humans/new"><button class="logout">Sign Up (NEW user)</button></a></li>
	<% end %>
		</ul>
</div>

<div class="title">
  <h1>Welcome to RESTful Cats</h1>
  <h2>A Rails-Inspired Web App from Scratch</h2>
</div>

<div class="explanation">
  <h2>What's this all about?</h2>
  <p>
    When I first started building websites (not that long ago) Rails seemed like magic to me.
    Models, views, and controllers integrated with my database and server so
    smoothly that I barely even noticed they were there. Even more awe-inspiring
    was Heroku. After just two lines and a bunch of text running through my terminal,
    my app was live- there on the internet for anyone to access. Amazing!
  </p>
  <p>
    Of course, having a live website that ran on Rails and Heroku was pretty
    exciting itself. I think one of the most important aspects of being a good
    developer is finding and working with libraries and tools that abstract
    needed and previously developed functionality - it's essential not to
    reinvent wheels unnecessarily.
  </p>
  <p>
    But honestly, who can resist attempting a little magic? I had
    to try and make it myself. So this is my live, rails-inspired app with the bare
    essentials. I've paired it with the code and explanations for anyone else
    who wants to do a little conjuring of their own!
  </p>
  <a href='/go_live'><button>A Way to Launch (without Heroku)</button></a>
  <a href='/cats'><button>Explore the Rails Inspired Code</button></a>

</div>

<style>

  html, body {
    padding: 0px;
    margin: 0px;
  }

  h1, h2, h3 {
    color: white;
    line-height: 1;
    margin: 10px;
    font-family: Abril Fatface, sans-serif;
  }

  p, a {
    color: white;
    line-height: 1;
    margin: 10px;
    font-family: 'Alegreya', serif;
  }
  button {
    background-color: #C38E4A;
    font-size: 1.8em;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
  }
  button:hover {
    box-shadow: 1px 1px 1px black;
    background-color: #683C0B;
  }

  .title {
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 5vh;
    box-sizing: border-box;
    height: 80vh;
    background: url('http://res.cloudinary.com/disran0g3/image/upload/v1441559946/littlethecat_vvvsea.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    background: rgba(104,60,11, 0.5);
    height: 50px;
  }
  .logo {
    font-family: Abril Fatface, sans-serif;
    font-size: 2em;
    padding: 10px 40px;
    float: left;
    color: #7B0515;
    cursor: pointer;
  }
  .navigation button {
    margin: -10px -15px;
    font-size: 0.8em;
  }

  .navigation ul {
    float: right;
  }
  .navigation li {
    float: left;
    list-style-type: none;
    font-size: 1.3em;
    padding: 0px 10px;
  }
  .navigation a {
    color: #683C0B;
  }
  .navigation a:hover {
    color: white;
  }

  .logout {
    font-size: 0.8em;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    margin: -8px 0px;
    background-color: #C38E4A;
  }
  .logout:hover {
    background-color: #683C0B;
    box-shadow: 1px 1px 1px black;
    /*margin: 6px;*/
  }
  .explanation {
    max-width: 700px;
    margin: 50px auto;
    padding: 0 10px 10px 10px;
  }
  .explanation h2 {
    color: #851C21;
    font-size: 2em;
    line-height 2;
    margin: 75px 0px 50px 0px;
  }

  .explanation h3 {
    color: #C38E4A;
    font-size: 1.5em;
    line-height 2;
    margin: 50px 0px 25px 0px;
  }
  .explanation p {
    line-height: 1.5;
    font-size: 1.3em;
    color: #683C0B;
    margin: 20px 0px;
  }

  .explanation button {
    margin: 50px 10px;
    font-size: 1.3em;
    float: right;
    background-color: #C38E4A;
  }
  .explanation button:hover {
    background-color: #683C0B;
  }
</style>
