<% if current_user %>
	<form action="/session" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="hidden" name="security" value="<%= form_authenticity_token %>">
		<input type="submit" value="logout (DESTROY session)">
	</form>
<% else %>
	<p>
		<a href="/session/new">Sign In</a> or
		<a href="/humans/new">Sign Up</a>
	</p>
<% end %>
